body{
	background-color: #F5E4AE;
}
header{
	font-size: 75px;
	color: salmon;
	text-align: center;
}
header img{
	border-radius: 150px;
	width: 50;
}
.heading2{
	color: brown;
	letter-spacing: 2px;

}
.para1{
	color: black;
	padding: 0;
}
main{
	text-align: center;
}